name: Unit tests, linting, and formatting

on: [push]

jobs:
  check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check formatting
        run: cargo fmt --check

  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run tests
        run: cargo test
      - name: Lint
        run: cargo clippy
